* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin:0;
    background: #E5E5E5;
}

.cabecalho {
    display:flex;
    background: #FFFFFF;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);

}

.cabecalho-centro {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex: 1 1 200px;
    padding: 20px;

}


.menu a {
    text-decoration: none;
    color: #545454;
    margin: 10px
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.centro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

}

.card {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 0.5em;
    margin: 2em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);

}


.card-conteudo {
    padding-left: 1em;
    padding-right: 1em;
    max-width: 730px;
}

.endereco, .telefone, .suporte {
    display: flex;
    margin-bottom: 0.3em;
}


.h5 {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1em;
}

.contato {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    margin-bottom: 2em;
    font-weight: bold;
}

.nome-email {
    display: flex;
    margin-bottom: 1em;
   
}

.nome {
    display: flex;
    margin-right: 3em;
    
}

.nome input {
    width: 23em;
    height: 2em;
    outline: 0;
    border: 0.5px solid #545454;
    border-radius: 0.2em;
    margin-top: 0.3em;
    padding: 0.5em;
}

.email, .assunto {
    display: flex;
    
}

.email input {
    width: 23em;
    height: 2em;
    outline: 0;
    border: 0.5px solid #545454;
    border-radius: 0.2em;
    margin-top: 0.3em;
    padding: 0.5em;
}

.assunto input {
    width: 50.5em;
    height: 2em;
    outline: 0;
    border: 0.5px solid #545454;
    border-radius: 0.2em;
    margin-top: 0.3em;
    margin-bottom: 1em;
    padding: 0.5em;
}

textarea {
    outline: 0;
    border: 0.5px solid #545454;
    border-radius: 0.2em;
    margin-top: 0.3em;
    resize: none;
    padding: 0.5em;
}

.botao {
    display: flex;
    justify-content: flex-end;
    
}

button {
    width: 8em;
    border: 1px dashed #FE0078;
    border-radius: 1.5em;
    padding: 1.2em;
    background: #FE0078;
    margin-top: 1em;
    margin-right: 1em;
    
}

button a {
    text-decoration: none;
    color: white;
}

.barra-lateral {
    display: flex;
    width: 23em;
    height: 90em;
    background: #FFFFFF;
    padding: 1em;
    margin: 2em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    
    

}


.pesquisa {
    display: flex;
    justify-content: center;
    height: 2.5em;

}

.pesquisa input {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #545454;
    border-radius: 1em;
    outline: 0;
}

.pesquisa input:focus {
    border-color: #FE0078;
    
}

.titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.quadrado {
    display: flex;
    width: 0.2em;
    height: 2.5em;
    background:  #FE0078;
}

.h3 {
    display: flex;
    margin-left: 1em;
}

.lista {
    display: flex;
    width: 21em;
    justify-content:space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1px dashed #EEEEEE;
}

.publi {
    display: flex;
    flex-direction: column;
}

.bloco {
    width: 340px;
    height: 240px;
    background:  #EEEEEE;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color:  #545454
}

.rodape {
    background: #222222;
    color: #FFFFFF;
    text-align: center;
}